
.signup-button {
  background-color: indianred;
  color: white;
  border-radius: 5px;
}

.button-more {
  background-color: indianred;
  color: white;
  border-radius: 5px;
  padding: 3px;
}

i {
  color: black;
}
