<div class="container">
  <%= simple_form_for [@booking, @review] do |r| %>
    <%= r.input :content %>
    <%= r.input :rating %>
    <%= r.submit "add a review", class: "btn btn-primary" %>
  <% end %>
</div>